# Kotlin specific files
*.kt~
*.kts~
.idea/
*.iml

# Gradle files
*.gradle
*.gradle.kts
gradle-wrapper.jar
/gradle/
/build/

# Local configuration files
local.properties
.classpath
.project
.settings/

# Log files
*.log

# Android/IntelliJ specific
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/httpRequests/
.idea/codeStyles/

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db

# APK files
*.apk
*.ap_

# Proguard
proguard/
proguard-rules.pro

# Captures
captures/

# External native build folder generated in Android Studio 3.2+ (CMake, ndk-build)
.cxx/
.externalNativeBuild/

# Jetpack Compose (ui tests)
/testOutputs/

# Firebase Crashlytics
crashlytics-build.properties

# Google Services
google-services.json

